.container-fluid {
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    border: #A7A1AE 1px solid;
    border-radius: 20px;
}