.form-group{
    margin-bottom: 15px;
    margin-left: 400px;
    margin-right: 400px;
}
h2{
    margin-left: 400px;
}
button{
    margin-left: 740px;
}
.sig2{
    padding-left: 680px;
}
.signUpPage{
    margin-top: 170px;
}