<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="display: flex; flex-direction: column; align-items: center; color: white;">
<img src="https://steamuserimages-a.akamaihd.net/ugc/780743413211034575/5B6469B419ECE1D0B98F91A4D7293D58803DF0F1/" style="position: fixed; width: 100%; height: 100%; object-fit: cover; top: 0; left: 0;z-index: -1;"/>
<h2 style="text-align: center">USER INFORMATION</h2>
<div id="userInfo"></div>



<script th:src="@{/js/products.js}"></script>
<script>
    loadUsers();
</script>
</body>
</html>